.main-header {
  background: url(../img/header-md.jpg);
  background-size: cover;
  min-height: 600px;
  background-repeat: no-repeat;
  background-position: center top;
}

body {
  font-family: "Kanit";
  color: #1d394f;
}

/* tipografia */

h1 {
  font-weight: 700;
  font-size: calc(1.8em + 1vw);
  line-height: calc(1em + 1vw);
}

h4 {
  font-weight: 600;
  font-size: calc(0.9em + 1vw);
}

h2 {
  letter-spacing: 3px;
  font-size: calc(1em + 1.2vw);
}

p {
  font-size: calc(0.4em + 1vw);
}

small {
  font-size: calc(0.4em + 0.6vw);
}

.col-video {
  height: 50vh;
}

.frm input {
  border-color: #000 !important;
  box-shadow: none !important;
  border-radius: none !important;
}

.text-blue {
  color: #008cba;
}

.btn-primary {
  background-color: #008cba;
  box-shadow: none !important;
}

.btn-primary:hover {
  background-color: #1d394f;
  box-shadow: none !important;
}

.btn-outline-secondary {
  background-color: #fff;
  color: #008cba;
  border-color: #008cba;
  width: calc(8em + 6vw);
  height: calc(2em + 3vh);
  box-shadow: none !important;
  border-radius: 0;
  border: 2px solid #008cba;
}

.parent .btn-outline-secondary {
  color: #1d394f;
}

.parent .btn-outline-secondary:hover {
  color: #fff;
}

.btn-outline-secondary:hover {
  background-color: #1d394f;
  border-color: #008cba;
  box-shadow: none !important;
}

.frm {
  background-color: rgb(249, 249, 249);
  border: 0.0625rem solid #1d394f;
  border-radius: 0 0 0 0;
}

.card-body p img {
  width: 30%;
}

.section-2 {
  background-color: rgb(238, 238, 238);
}

.section-3 .icon {
  background-color: #1d394f;
  margin-bottom: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 22px;
  color: white;
  height: 50px;
}

.section-4 {
  background-color: rgb(238, 238, 238);
}

.models {
  margin-left: 5vw;
  margin-right: 5vw;
}

li {
  display: inline-block;
  font-size: calc(0.5em + 0.1vw);
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

li span {
  display: block;
  font-size: calc(1em + 3vw);
  background-color: #1d394f;
  color: #fff;
  padding-left: calc(0.3em + 0.5vw);
  padding-right: calc(0.3em + 0.5vw);
  border-radius: 10px;
}

.parent {
  background-color: #008cba;
  height: 50vh;
  margin-top: 6em;
}

.parent button {
  color: #1d394f;
}

.parent p,
h1,
h3,
h4 {
  font-weight: 250;
}

.parent .container {
  position: relative;
}

.white-car {
  position: absolute;
  top: -2vw;
  left: -1vw;
  width: 25vw;
  z-index: 1;
}

.yellow-car {
  position: absolute;
  top: -6vw;
  left: 16vw;
  width: 25vw;
  z-index: 0;
}

.orange-car {
  position: absolute;
  top: -9vw;
  left: 36vw;
  width: 20vw;
  z-index: 2;
}

.blue-car {
  position: absolute;
  top: -13vw;
  left: 43vw;
  width: 30vw;
  z-index: 3;
}

.red-car {
  position: absolute;
  top: 0vw;
  left: 62vw;
  width: 28vw;
  z-index: 3;
}

footer img {
  width: 10em;
}

.col-video {
  height: calc(43vh + 1em + 1vw);
}

/* -----------------------------------MEDIAS----------------------------------- */

@media (min-width: 768px) and (max-width: 991px) {
  .models {
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .btn-outline-secondary {
    font-size: calc(0.5em + 0.5vw);
  }

  .container-video h1 {
    font-size: calc(1em + 1.5vw);
  }

  .video {
    width: 100% !important;
    margin-left: 0 !important;
    height: 35vw !important;
  }

  .col-video {
    height: auto;
  }
}

@media (max-width: 767px) {
  .parent {
    height: 70vh;
    /* margin-top: 6em; */
  }
  .main-header {
    background: none;
  }
  #header-sm {
    width: 400px;
  }
  .models {
    margin-left: 0vw;
    margin-right: 0vw;
  }
  .btn-outline-secondary {
    margin-left: 0vw;
    margin-right: 0vw;
    font-size: calc(0.5em + 1.2vw);
  }
  h2 {
    font-size: calc(1.5em + 1.5vw);
  }
  p {
    font-size: calc(0.6em + 1.1vw);
  }

  .orange-car {
    position: absolute;
    top: -70px;
    left: 20px;
    width: 220px;
    z-index: 2;
  }
  .blue-car {
    position: absolute;
    top: -130px;
    left: 90px;
    width: 300px;
    z-index: 3;
  }
  .red-car {
    position: absolute;
    top: -30px;
    left: 300px;
    width: 230px;
    z-index: 3;
  }

  .white-car {
    position: absolute;
    top: 48vh;
    left: 80px;
    width: 230px;
    z-index: 1;
  }
  .yellow-car {
    overflow-x: hidden;
    position: absolute;
    top: 48vh;
    left: 250px;
    width: 230px;
    z-index: 0;
  }

  li span {
    font-size: calc(2em + 4vw);
  }

  .col-video {
    height: calc(35vh + 10vw + 5em);
  }
}

@media (max-width: 500px) {
  .orange-car {
    position: absolute;
    top: -10vw;
    left: 1vw;
    width: 40vw;
    z-index: 2;
  }
  .blue-car {
    position: absolute;
    top: -25vw;
    left: 15vw;
    width: 60vw;
    z-index: 3;
  }
  .red-car {
    position: absolute;
    top: -4vw;
    left: 55vw;
    width: 45vw;
    z-index: 3;
  }

  .white-car {
    position: absolute;
    top: 48vh;
    left: 10vw;
    width: 47vw;
    z-index: 1;
  }
  .yellow-car {
    overflow-x: hidden;
    position: absolute;
    top: 48vh;
    left: 46vw;
    width: 50vw;
    z-index: 0;
  }

  /* h2 {
    font-size: calc(1.1em + 0.7vw);
    font-weight: 200;
  }
  small {
    font-size: 11px;
  }
  p {
    font-size: calc(1em + 1vw);
  } */

  .container-video {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .video {
    width: 100% !important;
    margin-left: 0 !important;
    height: 300px !important;
  }

  .col-video {
    padding: 0 0 0 0;
    height: calc(30vh + 4em);
  }

  .parent {
    margin-top: 1.5em;
  }

  small {
    font-size: calc(0.6em + 0.9vw);
  }
}

@media (max-width: 400px) {
  #header-sm {
    width: 99vw;
  }
}
